<template>
    <div>
        <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button v-if="loading === false" type="button" class="btn-close" @click="closeModal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="closeModal">Close</button>
        </div>
    </div>
</template>

<script>
import baseModalMixin from "../tools/pix-components/pix-slave-modal.functionalities.js";

export default {
    props: {},

    mixins: [
        baseModalMixin,
    ],

    components: {},

    data() {
        return {}
    },

    methods: {},

    mounted() {
    },

    created() {
    },

    computed: {}
}
</script>

<style scoped>
</style>
