<!-- v2 > uni_b2b -->

<template>
    <table>
    </table>
</template>

<script>

export default {
    mixin: [
        BaseTableFunctions
    ],

    props: {},

    components: {},

    data() {
        return {
        }
    },

    methods: {
    },

    mounted() {
    },

    created() {
    },

    computed: {}
}
</script>

<style scoped>
</style>
