<!-- v2 > uni_b2b -->

<template>
    <table>
    </table>
</template>

<script>
export default {
    props: {},

    components: {},

    data() {
        return {
            loading: true,
        }
    },

    methods: {
        // not in use anymore

        // loadData() {
        //     this.setLoading(true)
        //     axios.get(this.$$route('api.xx'))
        //         .then((response) => {
        //             // handle success
        //             this.xx = response.data;
        //             this.setLoading(false)
        //         })
        // },
        // setLoading(status) {
        //     this.loading = status;
        //     this.$$emit('loading', status);
        // },
    },

    mounted() {
        this.loadData();
    },

    created() {
    },

    computed: {}
}
</script>

<style scoped>
</style>
