<!-- v2 > uni_b2b -->

<template>
    <table>
    </table>
</template>

<script>
import baseTableFunctions from "../../tools/pix-components/pix-table-functionalities.js";

export default {
    mixin: [
        baseTableFunctions
    ],

    props: {},

    components: {},

    data() {
        return {
        }
    },

    methods: {
    },

    mounted() {
    },

    created() {
    },

    computed: {}
}
</script>

<style scoped>
</style>
